[Unit]
Description=Caddy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill caddy
ExecStartPre=-/usr/bin/docker rm caddy
ExecStartPre=-/usr/bin/docker pull prinsmike/caddy
ExecStart=/usr/bin/docker run --name caddy -v /home/core/srv:/srv -v /home/core/Caddyfiles:/etc/Caddyfiles -v /home/core/.caddy:/root/.caddy -p 80:80 -p 443:443 prinsmike/caddy
ExecStop=/usr/bin/docker stop caddy
ExecStopPost=/usr/bin/docker rm -f caddy

[Install]
WantedBy=multi-user.target
