[Unit]
Description=Custom Caddy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
user=core
ExecStartPre=-/usr/bin/docker kill customcaddy
ExecStartPre=-/usr/bin/docker rm customcaddy
ExecStart=/usr/bin/docker run --name customcaddy -v /home/core/srv:/srv -v /home/core/Caddyfiles:/etc/Caddyfiles -v /home/core/.caddy:/root/.caddy -p 80:80 -p 443:443 prinsmike/customcaddy
ExecStop=/usr/bin/docker stop customcaddy
ExecStopPost=/usr/bin/docker rm -f customcaddy
RestartSec=8
Restart=always

[Install]
WantedBy=multi-user.target
